body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:  rgb(36, 35, 38);
    /* background-image: linear-gradient(to bottom right, black, rgba(167, 165, 165, 0.529)); */
}
@font-face {
    font-family: famiarMedium;
    src: url(./fonts/FamiarPERSONALUSEONLY-Medium.otf);
}
@font-face {
    font-family: famiarLight;
    src: url(./fonts/FamiarPERSONALUSEONLY-Light.otf);
}
#includedContent {
    height: 50%; 
    position: fixed;
    width: 100%;
    top: 0;

}

#greetings {
    position: relative;
    left: 60px;
    top: 130px;
    font-family: famiarMedium;
    font-size: xxx-large;
    color: whitesmoke;
}
#biography {
    position: absolute;
    top: 400px;
    left: 60px;
    width: 40%;
    text-align: left;
    font-family: famiarLight;
    font-size: x-large;
    color: rgb(188, 184, 179);
}
#button {
    position: absolute;
    top: 600px;
    left: 60px;
    background-color: rgb(24, 84, 143);
    border-radius: 30px;
    font-family: famiarLight;
    font-size: 20px;
    border: none;
    padding: 15px 30px;
    color: rgb(188, 184, 179);
    cursor: pointer;
}

#image {
    position: absolute;
    width: 350px;
    height: 425px;
    top: 150px;
    right: 70px;
    box-shadow: -10px 0px 10px 10px rgb(33, 31, 31);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
@media screen and (max-width: 600px) {
    #imageDiv{
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
    }
    #image{
        width: 75%;
        position: relative;
        height: auto;
        right: auto;
        top: 100px;
        /* text-align: center; */
    }
    #greetings {
        position: absolute;
        width: 100%;
        text-align: center;
        left: auto;
        top: 470px;
    }
    #biography {
        width: 90%;
        text-align: left;
        left: 30px;
        top: 550px;
    }
    #button {
        position: absolute;
        top: 800px;
        left: 27%;
    }
}