.card img {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 100px;
}
.card {
    text-align: center;
    /* width: 300px; */
    text-decoration: none;
}
.card a {
    text-decoration: none;
    color: whitesmoke;
}
.card a:visited {
    text-decoration: none;
}
.card:hover img{
    width: 210px;
    height: 210px;
    transition: all 0.2s ease-in;
}
.card h4 {
    font-size: 18px;
    margin-top: 30px;
}
.card:hover h4{
    font-size: 21px;
    transition: all 0.2s ease-in;
}
.card:hover a {
    text-decoration: none;
    color: rgb(188, 184, 179);
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    font-size: 25px;
    transition: all 0.2s ease-in;
}
.card:hover {
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

